<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email</title>
  </head>
  <body>
    <p>From: <%= name%></p>
    <p>Email: <%= email%></p>
    <p>
      Message: <br />
      <%= message%>
    </p>
  </body>
</html>
